CONFIG_PACKAGE_luci-app-qmodem=m
CONFIG_PACKAGE_luci-app-qmodem_USE_TOM_CUSTOMIZED_QUECTEL_CM=m
CONFIG_PACKAGE_luci-app-qmodem-mwan=m
CONFIG_PACKAGE_luci-app-qmodem-sms=m
CONFIG_PACKAGE_luci-app-qmodem-ttl=m
CONFIG_PACKAGE_luci-i18n-qmodem-mwan-zh-cn=m
CONFIG_PACKAGE_luci-i18n-qmodem-ru=m
CONFIG_PACKAGE_luci-i18n-qmodem-sms-zh-cn=m
CONFIG_PACKAGE_luci-i18n-qmodem-zh-cn=m
CONFIG_PACKAGE_tom_modem=m
CONFIG_PACKAGE_quectel-CM-5G-M=m
